.column1{
  width: 45%;
  float: left;
  margin: 10px;
  text-align: center;
  background-color: #65e;
}

.column2{
  width: 45%;
  float: left;
  margin: 10px;
  text-align: center;
  background-color: #09e;
}

img{
  width: 400px;
  height: 300px;
}

h1{
  text-align: center;
}
